html,body,#app{
  height:100%;
  margin:0;
  padding:0;
}

/*给home的左侧功能按钮设置样式*/
.el-submenu__title,
.el-menu-item
{
  margin: 0;
  padding: 0;
}


/*给各个功能模块的card卡片区设置统一样式*/
.box-card{
  margin-top:0px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}

/*给el-table设置统一样式*/
.el-table{
  margin-top:15px;
  font-size:12px;
}

/*给el-pagination分页统一设置样式*/
.el-pagination{
  margin-top:15px;
  font-size:12px;
}


.el-pager li.active { 
}